$buttons
	font-size 1rem
	border 2px solid $c-black
	background: $c-black
	border-radius 2px
	color $c-white
	align-self center
	transition: background 0.2s $move
	&:hover:not([disabled])
		background transparent
		color $c-black
