$modal
    .modal
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index 4
        opacity 0
        will-change: transform
        transform: translate3d(0, 10%, 0)
        animation showing-up 0.2s $enter forwards

        h1
            position: relative
            z-index 1
            margin-top: 4vh
            margin-bottom: 0
            text-align: center
            color: $c-black

        .background
            position: absolute
            top: 0
            left: 0
            height: 100vh
            width: 100vw
            background: $c-white
            z-index: -1s
            will-change: transform

@keyframes showing-up
    100%
        opacity 1
        transform: translate3d(0, 0, 0)
