.navigation
		display flex
		padding 1.5rem 2rem
		background $c-black

		h1
			margin 0
			padding: 0
			font-style: italic
			font-weight: lighter

		a
			color $c-white
			padding 5px 10px
			font-weight 900
			text-decoration none

			&.current
				font-style italic
				color $c-pink

		ul
			display flex
			margin 10px 0 0 60px
			padding 0
			list-style none

		li
			padding 0
			border: 1px solid transparent
