.comment
    position relative
    padding: 20px
    min-height: 120px

    h5
      margin: 0 0 15px

    p
        margin-top: 0
        padding-left: 45px

    &:nth-child(even)
        background: rgba($c-main-color, 0.8)
    &:nth-child(odd)
        background: rgba($c-main-color, 0.4)

    &:last-child
        margin-bottom: 40px

    .vote-control
        top: 70px
        left: 20px