@require '../buttons.styl'

section.comments
    position: relative
    padding: 20px 0 0
    margin-top: 80px
    font-size: 13px
    border-top: 1px solid $c-black
    h2
        margin: 0 0 20px

    + button
        margin 0
        display block
        padding 1rem 2rem
        font-weight bold
        @extends $buttons